.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal button {
    outline: none;
    cursor: pointer;
    border: 0;
}
.modal > section {
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    max-width: 480px;
    margin: 0 auto;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 1s;
    overflow: hidden;
}
.modal > section > header {
    padding-left: 16px;
    font-weight: 700;
}
.modal > section > header div {
    text-align: right;
    margin-right: 10px;
}

.modal > section > header button {
    position: absolute;
    top: 30px;
    right: 30px;
    all:unset;
    box-sizing: border-box;
    cursor:pointer;
}

.modal > section > main {
    font-size: 1.2rem;
    box-sizing: border-box;
    margin: 0;
    padding: 16px;
}
.modal > section > footer div{
    padding: 12px 16px;

    text-align: left;
}

.modal > section > footer section{
    text-align: right;
    margin: 10px;
}

.modal > section > footer button{
    margin-left: 7px;
    padding: 12px 16px;
    font-size: 13px;
    border-radius: 35px;
    min-width: 100px;
    border: 1px solid #c1c1c1;
}

.later {
    color: black;
    background-color: #fff;
}
.agree {
    color: #FFFFFF;
    background-color: black;
}

.modal.openModal {
    display: flex;
    align-items: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show 1s;
}
@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: -50px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}
@keyframes modal-bg-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}