.search__background {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    flex-direction: column;
    text-align: left;
}

.search__wrapper{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    z-index: 3;
    margin: 20px;
}

.search__header {
    display: flex;
    min-width: 200px;
    margin: 0 0 20px 20px;
    cursor: pointer;
}

.search__left {
    display: flex;
    flex: 1 1 auto;
    background-color: #ededed;
    border: none;
    margin-right: 10px;
    border-radius: 35px;
    width: 90%;
    align-items: center;
}

.search__icon {
    border: none;
    all: unset;
    border-radius: 35px;
    margin-left: 10px;
}
.search__search:hover {
    color: #FFFFFF;
    /*background-color: #d4d2d2;*/
}

.search__input {
    font-family: monospace;
    width: 90%;
    min-width: 200px;
    border: none;
    background-color: #ededed;
    margin-left: 10px;
}

.search__input:focus {
    outline: none;
}

.search__word-delete-button {
    flex:0;
    padding-right: 20px;
}

.search__close {
    border: none;
    border-radius: 35px;
    padding: 12px 16px;
    font-weight: bold;
}

.search__close:hover {
    background-color: #d4d2d2;
}

.dropdown {
    position: relative;
    margin: 20px;
    padding: 0.5rem 0;
    z-index: 4;
    color: black;
    gap: 10px;
    flex-direction: column;
}

.suggestionTerm-wrapper {
    margin-left: 20px;
}

.suggestionTerm {
    all:unset;
    font-size: 15px;
    margin: 0;
    color: #747474;
    padding-bottom: 7px;
}

.term {
    all: unset;
    font-size: 17px;
    padding-bottom: 5px;
    text-shadow: 0.3px 0.3px 0.3px gray;
    cursor: pointer;
}
.tags {
    padding-left: 0;
}

.tag {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.tag__title {
    flex: 1 1 auto;
    font-size: 17px;
    padding-bottom: 5px;
    text-shadow: 0.3px 0.3px 0.3px gray;
    cursor: pointer;
}

.tag__close-icon {
    text-align: center;
    font-size: 10px;
    border-radius: 25px;
    padding: 3px 6px;
    background-color: #f3f3f3;
    color: #5f5f5f;
    cursor: pointer;
}
