.header-wrapper {
    display: flex;
    flex-direction: row;
    font-size: 2em;
    justify-content: space-between;
    width: 100%;
    min-width: 200px;
}

.header__logo {
    margin: 15px;
    flex: 1 1 0;
    text-align: justify;
}

.fontawesome {
    all:unset;
    box-sizing: border-box;
    cursor:pointer;
    padding: 10px;
}